;; shadow-cljs configuration
{:lein {:profile "dev"}
 :source-paths
 ["src"]

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules {:main {:entries [provisdom.simple.app]}}
        :devtools {:http-root "public"
                   :http-port 8080
                   :after-load provisdom.simple.app/reload
                   :hud false}}}
 :nrepl {:port 9999
         :middleware []}}
